/*0001*/
.contenido {
    background: rgb(221, 189, 144);
    font-family: 'Ultra', sans-serif; 
    text-align: center;
    margin-bottom: 12%
}
/*0001*/
body > * {
    text-align: left;
}
/*0001*/
h2 {
    text-align: center;
}
/*0001*/
form {
    background: white;
    display: inline-block;
    border-radius: 6px;
    border: 1px solid black;
    padding:2%;
    margin: 5%;
}
/*0100*/
#volver:link,#volver:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid;
    border-radius: 25px;
}
/*0100*/
#volver:hover, #volver:active {
    background-color: red;
}
#etiquetas{
    margin-top:3%;
}
